name: GitHub Pages

on:
  push:
    branches:
      - dev
    paths:
      - "docs/**"
      - ".github/workflows/**"
  workflow_dispatch: {}

jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: '0.4.52'

      - name: Build mdBook
        run: mdbook build docs -d site_output

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/dev'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./site_output

